/* Estilos da pagina index.html*/
.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

#menu li{
    display: inline;
    padding: 15px;
    text-decoration: none;
}

#menu li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}

#menu li a:hover{
    color: red;

}

.p-30{
    padding: 40px;
}

.br-50 {
    border-radius: 20%;
}
/* Estilos da pagina contato.html*/